.game_wrap {
    width: 100%;
    height: 1080px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
}
.triangle{
    width: 200px;
    height: 200px;
    border-bottom: 10px solid red;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.radius_right {
    width: 100px;
    height: 100px;
    background-color: green;
    z-index: 99;
}